* {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 250px;
    width: 250px;
    border: 2px solid black;
}

.square {
    border: 1px solid black;
}
