* {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: sans-serif;
    vertical-align: baseline;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: 34% 1fr 1fr;
    grid-template-rows: 34% 1fr 1fr;
    height: 250px;
    width: 250px;
    border: 2px solid black;
}

.square {
    border: 1px solid black;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    line-height: 80px;
}
