* {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: sans-serif;
    vertical-align: baseline;
}

body {
    background-color: rgb(49, 190, 190);
}

.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: 34% 1fr 1fr;
    grid-template-rows: 34% 1fr 1fr;
    height: 250px;
    width: 250px;
    border: 2px solid black;
}

.square {
    border: 1px solid black;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    line-height: 80px;
    background-color: white;
}

.btn {
    background-color: white;
    border: 3px solid black;
    border-radius: 25px;
    font-weight: bolder;
    width: 204px;
    height: 40px;
    margin: 10px;
    font-size: 16px;
    letter-spacing: 2px;
}

h1 {
    font-size: 20px;
    letter-spacing: 5px;
    border: 3px solid black;
    width: 300px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: bolder;
    background-color: white;
}

h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 200px;
}

h3 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
